{% extends "base.html" %}
{% block title %}GET Request{% endblock %}
{% block content %}
	<div id="login-box">
		<h1>Login</h1>
		<input class="form-control" id="username" placeholder="Username" name='username'>
		<input class="form-control" id="password" placeholder="Password" name='password' type="password">
		<button class="btn btn-default btn-lg" id="signIn">Sign In</button>
		<br>
		<button class="btn btn-default btn-lg" id="signUp">Sign Up</button>
	</div>

	<script>
		$('#signUp').click(function() {
			location.href = '/signUp';
		});

		$('#signIn').click(function() {
			$.ajax({
			            type: "POST",
			            url: '/signIn',
			            data: {
			            	'username':$('#username').val(),
			            	'password':$('#password').val()
		        		},
			            success: function(data){
			                 console.log(data);
			            }
			});
		});
	</script>
{% endblock %}