{% extends "base.html" %}
{% block title %}Lists{% endblock %}
{% block content %}
	<div id="select-div">
		<select class="selectpicker" data-live-search="true">
			<option>Stop and shop</option>
			<option>Whole foods</option>
			<option>Trader joe's</option>
		</select>
	</div>

	<div class="container">
	<ul id='items'>
		<div class="item">Yogurt</div>
		<div class="item">Milk</div>
	</ul>
	</div>

	<script>
		$(document).ready(function(){

			var currentChoice = 0;

			function createListRequest(newText) {
				$.ajax({
				            type: "POST",
				            url: '/addList',
				            data: {
				            	'listText':newText
			        		},
				            success: function(data){
				            	if(data['status'] == 'success'){
				            		console.log('added new list: ' + newText)
				            	}
				            	else {
				            		alert(data['error']);
				            	}
				            },
				            error: function(data){
				            	alert('internal server error');
				            }
				});
			}

			function getAllLists(handler) {
				$.ajax({
				            type: "POST",
				            url: '/getLists',
				            async: false,
				            data: {
			        		},
				            success: function(data){
				            	handler(JSON.parse(data));
				            	
				            },
				            error: function(data){
				            }
				});
			}

			function addSelectOptions(listOfOptions) {

			}

			var handleSearch = function() {
				console.log('input');
				if($('.no-results').length > 0) {
					if($('#create').length == 0) {
						//add option to cretae
						var dropdownMenu = $('.dropdown-menu .inner');
						var addOption = $('<li>').attr('id', 'create').appendTo(dropdownMenu);
						var addLink = $('<a>').appendTo(addOption);
						var addSpan = $('<span>').addClass('text').text('CREATE THIS OPTION').css('color', 'red');
						addSpan.appendTo(addLink);

						addOption.click(function() {
							var newText = $('.bs-searchbox>input').val();
							createListRequest(newText);
							var newOption = $('<option>').text(newText);
							$('.selectpicker').append(newOption);
							$('.selectpicker').selectpicker('val', newText);
							$('.selectpicker').selectpicker('refresh');
						});
					}
				}
				else {
					$('#create').remove();
				}
			};
			$('#select-div').click(function(){
				$('.bs-searchbox>input').off('input', handleSearch).on('input', handleSearch);
				if($('.no-results').length == 0) {
					$('#create').remove();
				}
			});

			var lists;
			getAllLists(function(output){
				lists = output;
			});
			addSelectOptions(lists);
			list.initialize(JSON.parse(lists[currentChoice])._id);
			
		});
		
	</script>

{% endblock %}